html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'IBM Plex Mono', Courier, monospace;
} 



.pool {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 1080px;
  background-color: #000;
}

.box {
  box-shadow: 15px 15px 10px -10px rgba(255, 255, 255, 0.51);
  margin-top: 100px;
  width: 750px;
  height: 700px;
  border: solid;
  border-color: #1BFF07;
  border-radius: 50px;
  border-width: 20px;
  background-color: #FFF;
}

h2 {
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: -1.65px;
}
p {
  font-size: 20px;
  margin-top: 20px;
}
.form {
  margin-top: 20px;
  text-align: center;
}
.form input {
  margin-top: 20px;
  width: 400px;

}
.text {
  height: 30px;
}


textarea {
  margin-top: 20px;
  width: 400px;
  height: 60px;
}

.btn {
  margin-top: 70px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  background: #1BFF07;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 400;
}
.btn:hover {
  cursor: pointer;
  border: 1px solid #1BFF07;
  background-color: #000;
  color: #1BFF07;
  transform: scale(110%);
  cursor: pointer;
}

.nav {
  
  font-size: 20px;
  font-weight: 100;
  margin-top: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}
a {
  color: #000;
  text-decoration: none;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}

.cap_panel_a:hover {
  color: #1BFF07;
  cursor: pointer;
  transform: scale(150%);
}